<div class="page">
  <ng-container *ngIf="serverError === ''; else elseBlock">
    <app-search></app-search>
    <div class="btnCreateWrap">
      <button class="btnCreate" (click)="openFormHandler()">Создать митап</button>
    </div>
    <app-meetups-list [currentMeetups]="currentMeetups"></app-meetups-list>
    <app-pagination [itemsCount]="allMeetups"
                    [itemsOnPage]="meetupsOnPage"
                    [currentPageNumber]="currentPageNumber"
                    (changePageEvent)="changePageHandler($event)"
    >

    </app-pagination>
    <app-form-meetup></app-form-meetup>
  </ng-container>

  <ng-template #elseBlock>
    <h1 class="errorMessage error">{{serverError}}</h1>
  </ng-template>


</div>
