<div class="page">
  <ng-container *ngIf="serverError === ''; else elseBlock ">
    <button class="btnCreate" (click)="openUserCreationForm()">Создать пользователя</button>
    <app-users-list [users]="users"></app-users-list>
    <app-pagination [itemsCount]="totalUsers"
                    [itemsOnPage]="itemsOnPage"
                    [currentPageNumber]="currentPageNumber"
                    (changePageEvent)="changePageHandler($event)"
    >
    </app-pagination>
    <app-form-user></app-form-user>
  </ng-container>

  <ng-template #elseBlock>
    <h1 class="errorMessage">{{serverError}}</h1>
  </ng-template>

</div>
