<div class="modal">
  <form class="form">
    <h2 class="title">{{title}}</h2>
    <label class="name">Название</label>
    <div class="inputWrapName">
      <input>
    </div>

    <label class="date">Дата</label>
    <div class="inputWrapDate">
      <input>
    </div>

    <label class="time">Время</label>
    <div class="inputWrapTime">
      <input type="text">
    </div>

    <label class="place">Место</label>
    <div class="inputWrapPlace">
      <input type="text">

    </div>

    <label class="description">Описание</label>
    <textarea class="textareaDescription"></textarea>

    <label class="audience">Целевая аудитория</label>
    <textarea class="textareaAudience"></textarea>

    <label class="knowledge">Что нужно знать</label>
    <textarea class="textareaKnowledge"></textarea>

    <label class="happen">Что будет</label>
    <textarea class="textareaHappen"></textarea>
  </form>

</div>
