<li class="wrapper">
  <div class="topBlock">
    <div>
      <h2 class="title">{{meetup.name}}</h2>
      <span class="count">{{subscribersCount}} подписчик</span>
    </div>

    <div>
      <span class="date">{{meetupTime | date:"dd.MM.yy HH:mm"}}</span>
      <span class="place">{{contentUnderDate}}</span>
    </div>

  </div>

  <p class="text">{{meetup.description}}</p>

  <ng-container *ngIf="meetup.isOpened">
    <h3 class="subtitle">Целевая аудитория</h3>
    <p class="text">{{meetup.target_audience}}</p>

    <h3 class="subtitle">Что надо знать?</h3>
    <p class="text">{{meetup.need_to_know}}</p>

    <h3 class="subtitle">Что будет?</h3>
    <p class="text">{{meetup.will_happen}}</p>

    <h3 class="subtitle">Почему надо обязательно прийти?</h3>
    <p class="text">{{meetup.reason_to_come}}</p>
  </ng-container>


  <div class="bottomBlock">
    <div class="authorBlock">
      <app-svg-generator type="user-icon"></app-svg-generator>
      <span class="authorName">{{meetup.owner.fio}}</span>
    </div>

    <div class="btnsWrap" *ngIf="url === '/'; else elseBtnsWrap">
      <button class="btnYes"
              *ngIf="willGo();else elseBlock"
              (click)="subscribe(meetup.id, user.id)"
      >
        Я пойду
      </button>
      <ng-template #elseBlock>
        <button class="btnNo" (click)="unsubscribe(meetup.id, user.id)" >не смогу пойти</button>
      </ng-template>
      <button class="btnArrow" (click)="setOpened(meetup.id)">
        <app-svg-generator type="arrow"
                           [ngClass]="{'arrow-up': meetup.isOpened}"
        >
        </app-svg-generator>
      </button>
    </div>

    <ng-template #elseBtnsWrap>
      <div class="btnsWrap">
        <button class="btnDelete" (click)="deleteMeetupHandler()">Удалить</button>
        <button class="btnYes" (click)="editMeetupHandler()">Изменить</button>
        <button class="btnArrow" (click)="setOpened(meetup.id)">
          <app-svg-generator type="arrow"
                             [ngClass]="{'arrow-up': meetup.isOpened}"
          >
          </app-svg-generator>
        </button>
      </div>
    </ng-template>
  </div>
</li>

<style>
  .arrow-up {
    transform: rotate(180deg);
  }
</style>
