.wrapper {
  border: 0.3px solid #B4B4C0;
  padding: 10px;
  font-weight: 400;
  background: #2C2C2C;
}

.topBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  display: inline-block;
  margin-right: 5px;
  color: #E9E9E9;

}
.date {
  display: block;
  font-size: 24px;
  color: #E9E9E9;
}
.place {
  font-size: 14px;
  color: #E9E9E9;
}
.subtitle {
  font-size: 20px;
  color: #E9E9E9;

}
.text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #B4B4C0;
}

.bottomBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author {
  &Block{
    display: flex;
    align-items: center;
  }
  &Name{
    margin-left: 5px;
    color: #E9E9E9;
    font-size: 18px;
  }

}

%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.btn {
  &sWrap {
    display: flex;
  }
  &Yes {
    @extend %btn;
    background: #4C3F78;
  }
  &No {
    @extend %btn;
    background: #B4B4C0;
  }
  &Arrow {
    @extend %btn;
    background: #B85526;
    margin-left: 5px;
  }
}
.count {
  color: #B85526;
}


