<li class="wrapper">
  <div class="topBlock">
    <div>
      <h2 class="title">{{meetup.name}}</h2>
      <span class="count">321 подписчик</span>
    </div>

    <div>
      <span class="date">{{meetup.time}}</span>
      <span class="place">{{meetup.location}}</span>
    </div>

  </div>

  <p class="text">{{meetup.description}}</p>

  <ng-container *ngIf="meetup.isOpened">
    <h3 class="subtitle">Целевая аудитория</h3>
    <p class="text">{{meetup.target_audience}}</p>

    <h3 class="subtitle">Что надо знать?</h3>
    <p class="text">{{meetup.need_to_know}}</p>

    <h3 class="subtitle">Что будет?</h3>
    <p class="text">{{meetup.will_happen}}</p>

    <h3 class="subtitle">Почему надо обязательно прийти?</h3>
    <p class="text">{{meetup.reason_to_come}}</p>
  </ng-container>


  <div class="bottomBlock">
    <div class="authorBlock">
      <app-svg-generator type="user-icon"></app-svg-generator>
      <span class="authorName">{{meetup.owner.fio}}</span>
    </div>

    <div class="btnsWrap">
      <button class="btnYes">Я пойду</button>
      <button class="btnNo">не смогу пойти</button>
      <button class="btnArrow" (click)="setOpened(meetup.id)">
        <app-svg-generator type="arrow"
                           [ngClass]="{'arrow-up': meetup.isOpened}"
        >
        </app-svg-generator>
      </button>
    </div>
  </div>
</li>

<style>
  .arrow-up {
    transform: rotate(180deg);
  }
</style>
