@import "../../scss-var/variables";
.form {
  margin-bottom: 10px;
}
.searchInput {
  border: none;
  height: 100%;
}
.searchInputWrap {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
  border-radius: 5px;
  border: 3px solid #4C3F78;
}

.selectUserRoleGroup {
  color: #E9E9E9;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.selectUserRoleWrap {
  flex-basis: 20%;
}
.option {
  background: $bg-dark;
}

