<form [formGroup]="form" class="form">
    <div class="inputWrap searchInputWrap">
      <input formControlName="searchValue" class="input searchInput">
      <app-svg-generator type="icon-search" (click)="search(searchedValue)"></app-svg-generator>
    </div>
  <div class="selectUserRoleGroup">
    <label>Роль</label>
    <select class="selectUserRoleWrap input" formControlName="selectedUserRole">
      <option class="option" [ngValue]="''">не выбрано</option>
      <option class="option" *ngFor="let option of options" [ngValue]="option">
        {{option}}
      </option>
    </select>
  </div>
  {{changeDetection}}
</form>
