<div class="modal" *ngIf="isShow">
  <form class="form" [formGroup]="form">
    <span class="close" (click)="closeFormHandler()">&times;</span>
    <h2 class="title">{{title}}</h2>
    <label class="label name">Название</label>
    <div class="inputWrapName inputWrap">
      <span class="errorMessage">{{nameError}}</span>
      <input formControlName="name" class="input" name="name"
             (focus)="focusInputHandler($event)"
             (blur)="blurInputHandler($event)"
      >
    </div>

    <label class="label date">Дата</label>
    <div class="inputWrapDate inputWrap">
      <span class="errorMessage">{{dateError}}</span>
      <input formControlName="date" class="input" name="date"
             (focus)="focusInputHandler($event)"
             (blur)="blurInputHandler($event)"
      >
    </div>

    <label class="label time">Время</label>
    <div class="inputWrapTime inputWrap">
      <span class="errorMessage">{{timeError}}</span>
      <input type="text" formControlName="time" class="input" name="time"
             (focus)="focusInputHandler($event)"
             (blur)="blurInputHandler($event)"
      >
    </div>

    <label class="label place">Место</label>
    <div class="inputWrapPlace inputWrap">
      <span class="errorMessage">{{locationError}}</span>
      <input type="text" formControlName="location" class="input" name="location"
             (focus)="focusInputHandler($event)"
             (blur)="blurInputHandler($event)"
      >
    </div>

    <label class="label description">Описание</label>
    <textarea class="textareaDescription" formControlName="description"></textarea>

    <label class="label audience">Целевая аудитория</label>
    <textarea class="textareaAudience" formControlName="target_audience"></textarea>

    <label class="label knowledge">Что нужно знать</label>
    <textarea class="textareaKnowledge" formControlName="need_to_know"></textarea>

    <label class="label happen">Что будет</label>
    <textarea class="textareaHappen" formControlName="will_happen"></textarea>

    <label class="label duration">Длительность(мин.)</label>
    <div class="inputWrap inputWrapDuration">
      <input class="input" formControlName="duration">
    </div>
    <label class="label reason">Зачем приходить</label>
    <textarea class="textareaReason" formControlName="reason_to_come"></textarea>
    <div class="btnWrap">
      <button *ngIf="formMethodType==='ADD'; else elseBlock"
              class="btn"
              type="submit"
              (click)="addMeetupHandler()"
      >
        Создать
      </button>
      <ng-template #elseBlock>
        <button class="btn" (click)="editMeetupHandler()">Сохранить</button>
      </ng-template>
    </div>

  </form>

</div>
