@import "../../scss-var/variables";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E9E9E9;
  background: $bg-dark;
  z-index: 2;
}
.form {
  max-height: 500px;
  padding: 10px;
  position: fixed;
  width: 90%;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 20px 1fr;
  background: $bg-light;
  overflow-y: auto;
}

@mixin place-in-grid($gridRowStart, $gridRowEnd, $gridColStart, $gridColEnd) {
  grid-row-start:$gridRowStart;
  grid-row-end: $gridRowEnd;
  grid-column-start: $gridColStart;
  grid-column-end: $gridColEnd;
}
.close {
  @include place-in-grid(1, 2, 1, 6);
  justify-self: end;
  cursor: pointer;
  font-size: 25px;
}
.title {
  text-align: center;
  @include place-in-grid(2, 3, 1, 6);
}
.name {
  @include place-in-grid(3, 4, 1, 2)
}
.date {
  @include place-in-grid(4, 5, 1, 2)
}
.time {
  @include place-in-grid(4, 5, 3, 4);
  justify-self: end;
}
.place {
  @include place-in-grid(5, 6, 1, 2)
}
.description {
  @include place-in-grid(6, 7, 1, 2);
}
.audience{
  @include place-in-grid(7, 8, 1, 2)
}
.knowledge {
  @include place-in-grid(8, 9, 1, 2)
}
.happen {
  @include place-in-grid(9, 10, 1, 2)
}
.duration {
  @include place-in-grid(10, 11, 1, 2)
}
.reason {
  @include place-in-grid(11, 12, 1, 2)
}
.inputWrap {
  &Name {
    @include place-in-grid(3, 4, 2, 4)
  }
  &Date {
    @include place-in-grid(4, 5, 2, 3)
  }
  &Time {
    @include place-in-grid(4, 5, 5, 6)
  }
  &Place {
    @include place-in-grid(5, 6, 2, 4)
  }
  &Duration {
    @include place-in-grid(10, 11, 2, 3)
  }
  &Reason {
    @include place-in-grid(11, 12, 2, 6)
  }
}
.textarea {
  height: 60px;
  resize: none;
  background: inherit;
  border-radius: 5px;
  border: 3px solid #4C3F78;
  outline: none;
}
.textarea {
  &Description {
    @include place-in-grid(6, 7, 2, 6);
    @extend .textarea
  }
  &Audience {
    @include place-in-grid(7, 8, 2, 6);
    @extend .textarea
  }
  &Knowledge {
    @include place-in-grid(8, 9, 2, 6);
    @extend .textarea
  }
  &Happen {
    @include place-in-grid(9, 10, 2, 6);
    @extend .textarea
  }
  &Reason {
    @include place-in-grid(11, 12, 2, 6);
    @extend .textarea
  }
}
.btnWrap {
  @include place-in-grid(12, 13, 1, 6);
  justify-self: center;
}
.label {
  align-self: center;
}

