/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #4C3F78;
  height: 40px;
  padding: 5px;
  background: inherit;
  outline: none;
  color: #fff;
}
.btnCreate {
  background: #4C3F78;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.errorMessage {
  color: red;
}
.invalid {
  border-color: red;
}
.btnCreateWrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

}
