@import "../../../scss-var/variables";
@import "../../../../styles";
.page {
  padding: $page-padding;
}
.form {
  margin: 100px auto 0;
  max-width: 340px;
}
.block {
  display: flex;
  justify-content: space-between;
}
.link {
  display: inline-block;
  max-width: 120px;
}
.btnLogin {
  @extend %btn;
  background: #4C3F78;
  flex-basis: 125px;
}
.row {
  margin-bottom: 20px;
}
.input.ng-touched.ng-invalid{
  border-color: red;
}
.errorMessage {
  color: #fff;
}
