<div class="page">
  <form class="form" [formGroup]="form" (submit)="submitHandler($event)">
    <div class="row inputWrap">
      <input formControlName="login"
             placeholder="Введите логин"
             class="input"
      >
    </div>
    <div class="row inputWrap">
      <input formControlName="password"
             placeholder="Введите пароль"
             class="input"
             type="password"
      >
    </div>
    <div class="block">
      <a routerLink="/about" class="link">How to create account?</a>
      <button class="btnLogin">Log in</button>
    </div>
  </form>
</div>
