<div class="modal" *ngIf="isShow">
  {{changeDetect}}
  <form [formGroup]="form" class="form">
    <div class="closeBlock">
      <span class="close" (click)="closeFormHandler()">&times;</span>
    </div>
    <h2 class="title">{{title}}</h2>
    <div class="block">
      <label>ФИО</label>
      <div class="inputWrap">
        <input formControlName="fio" class="input" name="fio"
               (blur)="onBlurInputHandler($event)"
               (focus)="onFocusHInputHandler($event)"
        >
      </div>
      <span *ngIf="fioError" class="errorMessage">{{fioError}}</span>

    </div>
    <div class="block">
      <label>Почта</label>
      <div class="inputWrap">
        <input formControlName="email" class="input" name="email"
               (blur)="onBlurInputHandler($event)"
               (focus)="onFocusHInputHandler($event)"
        >
      </div>
      <span *ngIf="emailError" class="errorMessage">{{emailError}}</span>

    </div>
    <div class="block">
      <label>Пароль</label>
      <div class="inputWrap">
        <input type="password" placeholder="****" formControlName="password" class="input"
               name="password" (blur)="onBlurInputHandler($event)"
               (focus)="onFocusHInputHandler($event)"
        >
      </div>
      <span *ngIf="passwordError" class="errorMessage">{{passwordError}}</span>
    </div>

    <div class="roleBlock">
      <label>Роль</label>
      <div class="roleWrap">
        <span>{{userRole}}</span>
        <ul class="selectUserWrap">
          <li class="selectUserItem"
              *ngFor="let role of roles"
              (click)="changeUserRoleHandler(role)"
          >
            {{role.name | lowercase}}
          </li>
        </ul>
      </div>
    </div>

    <div class="btnWrap">
      <button type="submit" *ngIf="formMethodType==='ADD'; else elseBtn"
              (click)="addUserHandler()"
              class="btnCreate"
      >
        Создать
      </button>
      <ng-template #elseBtn>
        <button type="submit" (click)="updateUserHandler()" class="btnCreate">Сохранить</button>
      </ng-template>
    </div>
  </form>

</div>
