@import '../../scss-var/variables';
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E9E9E9;
  background: $bg-dark;
  z-index: 2;
}
.form {
  min-height: 200px;
  padding: 10px;
  flex-basis: 90%;
  background: $bg-light;
  overflow-y: auto;
  position: relative;
}

.close {
  cursor: pointer;
  text-align: end;
}
.title {
  text-align: center;
}
.block {
  margin-bottom: 10px;
}
.btnWrap {
  display: flex;
  justify-content: center;
}
