<div class="modal" *ngIf="isSown">
  <form [formGroup]="form" class="form">
    <div class="close" (click)="closeFormHandler()">&times;</div>
    <h2 class="title">{{title}}</h2>
    <div class="block">
      <label>ФИО</label>
      <div class="inputWrap">
        <input formControlName="fio" class="input">
      </div>
    </div>
    <div class="block">
      <label>Почта</label>
      <div class="inputWrap">
        <input formControlName="email" class="input">
      </div>
    </div>
    <div class="block">
      <label>Пароль</label>
      <div class="inputWrap">
        <input type="text" placeholder="****" formControlName="password" class="input">
      </div>
    </div>

    <div class="roleBlock">
      <label>Роль</label>
      <div class="roleWrap">
        <span>{{userRole}}</span>
        <ul class="selectUserWrap">
          <li class="selectUserItem"
              *ngFor="let role of roles"
              (click)="changeUserRoleHandler(role)"
          >
            {{role.name | lowercase}}
          </li>
        </ul>
      </div>
    </div>

    <div class="btnWrap">
      <button type="submit" *ngIf="formType.includes('add'); else elseBtn"
              (click)="addUserHandler()"
      >
        Создать
      </button>
      <ng-template #elseBtn>
        <button type="submit" (click)="updateUserHandler()">Сохранить</button>
      </ng-template>
    </div>
  </form>

</div>
